<!DOCTYPE html>

<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spring 게시판 글상세 페이지</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function() {
      $("#btn-list").on("click", function() {
        // 목록 페이지로 이동
        location.href = "/board/openBoardList.do";
      });

      // 데이터 수정
      $("#btn-edit").on("click", function() {
        // jquery를 사용하여 id 속성값이 frm (form 태그) 인 태그를 검색
        var frm = $("#frm")[0];
        // 가져온 form 태그의 action 속성값을 변경
        frm.action = "/board/updateBoard.do";
        // 자바스크립트로 submit() 이벤트 발생
        frm.submit();
      });

      $("#btn-delete").on("click", function() {
        var frm = $("#frm")[0];
        frm.action = "/board/deleteBoard.do";
        frm.submit();
      });
    });
  </script>
</head>
<body>

<div th:replace="~{/layout/header :: springBoardHeader}"></div>

<main class="container">
  <section style="margin-top: 75px;">
    <div class="p-4 text-center border rounded-4 bg-secondary-subtle">
      <h1 class="display-4">게시판 글 상세보기 페이지</h1>
      <h2 class="mt-3"><small>String MVC 로 만든 게시판</small></h2>
    </div>
  </section>

  <section>
<!--    form 태그에 데이터 전달 방식만 설정, id 값 설정, JS를 사용하여 서버로 데이터 전달 -->
    <form method="post" id="frm">
      <div class="row mt-4">
        <div class="col-sm-1">
          <div class="form-floating">
            <input type="text" class="form-control" id="board-idx" name="boardIdx" readonly placeholder="글번호" th:value="${board.boardIdx}">
            <label for="board-idx">글번호</label>
          </div>
        </div>
        <div class="col-sm-10">
          <div class="form-floating">
            <input type="text" class="form-control" id="title" name="title" placeholder="글제목" th:value="${board.title}">
            <label for="title">글제목</label>
          </div>
        </div>
        <div class="col-sm-1">
          <div class="form-floating">
            <input type="text" class="form-control" id="hit-cnt" name="hitCnt" readonly placeholder="조회수" th:value="${board.hitCnt}">
            <label for="hit-cnt">조회수</label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="create-date" name="createDate" readonly placeholder="등록일" th:value="${board.createDate}">
            <label for="create-date">등록일</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="create-user" name="createId" readonly placeholder="등록자 ID" th:value="${board.createId}">
            <label for="create-date">등록자 ID</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="update-date" name="updateDate" readonly placeholder="수정일" th:value="${board.updateDate}">
            <label for="update-date">수정일</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating">
            <input type="text" class="form-control" id="update-user" name="updateId" readonly placeholder="수정자 ID" th:value="${board.updateId}">
            <label for="update-date">수정자 ID</label>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="form-floating">
            <textarea class="form-control" id="contents" name="contents" placeholder="내용" th:text="${board.contents}" style="height: 200px;"></textarea>
            <label for="contents">내용</label>
          </div>
        </div>
      </div>

      <div class="row mt-3">
<!--        thymeleaf의 th:if 를 사용하여 첨부파일 목록이 없을 경우 해당 UI를 표시하지 않음 -->
        <div class="col-sm border rounded-2 px-3 mx-3 py-2" th:if="${#lists.size(board.fileList)} > 0">
          <label for="files" class="form-label">첨부 파일 : </label>
<!--          첨부 파일 목록이 있을 경우 th:each 를 사용하여 반복 표시 -->
<!--          실제 다운로드 링크를 설정 -->
          <a href="#" class="btn btn-link" id="files" th:each="item : ${board.fileList}" th:text="|${item.originalFileName} (${item.fileSize} kb) |" th:href="@{/board/downloadBoardFile.do(fileIdx=${item.fileIdx}, boardIdx=${item.boardIdx})}">첨부파일</a>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-sm">
          <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
        </div>
        <div class="col-sm d-flex justify-content-end">
          <button type="button" class="btn btn-danger me-2" id="btn-delete">삭제</button>
          <button type="button" class="btn btn-warning" id="btn-edit">수정</button>
        </div>
      </div>
    </form>
  </section>
</main>

<div th:replace="~{/layout/footer :: springBoardFooter}"></div>

</body>
</html>









